<div class="container">
    <div class="row">
        <h1 class="text-center mb-5" style="color: black;">Admin Panel</h1>
        <div class="main-box col-lg-5 col-md-8 mx-auto p-4 rounded">
            <div class="card mt-4">
                <div class="card-body">
                    <h6>Name: </h6>
                    <h6>Year: </h6>
                    <h6>Request: </h6>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h6 class="text-center mt-5">Powered by cipherGUYS ⚡</h6>
    </footer>
</div>